.font14{
    font-size: 14px;
}

.dev{
    background-color: black !important;
    color: white !important;
    border: transparent !important;
}

.css-164x3w3-MuiTypography-root{
    font-size: 16px !important;
    /* margin-bottom: 1000px !important; */
}

.css-4vp0s-MuiTypography-root {
    margin-bottom: 20px !important;
    padding: 20px !important;
}

.css-1nn00bw {
    padding-top: 96px;
    padding-bottom: unset;
}

@media(max-width:992px){
    .css-4vp0s-MuiTypography-root {
        margin-bottom: 20px !important;
        margin: -20px !important;
    }

    .css-1nn00bw {
        padding-top: 96px;
        padding-bottom: unset;
    }
}